logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
/usr/lib/node_modules/
/dist
/build
.env
.DS_Store
Thumbs.db
.vscode/
.idea/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.*.local
.env.production
coverage/
*.tsbuildinfo
nestjs-*.json
.next/
out/
.nuxt/
.cache/
.parcel-cache/
node_modules/puppeteer/.local-chromium/